<div class="com-footer-area" id="js-com-footer-area">
            <div class="com-footer-nav"> <a href="{:U('/addon/Shangcheng/Show/Index')}">关于我们</a><a href="#">联系我们</a><a href="{:U('/addon/Shangcheng/Show/splist')}">更多商品</a> </div>
            <div class="com-footer">
              <p class="com-policy"> <strong> <a class="pxui-color-white" href="javascript:void(0)"> <i></i> <span>自营商品<br/>
              满99包邮</span> </a>&nbsp;&nbsp;&nbsp;&nbsp; <a class="pxui-color-white" href="javascript:void(0)"> <i style="background-position:-40px -108px;"></i> <span>15天无理由<br/>
              免邮退换货</span> </a> </strong> </p>
              <br/>
              © 2007-2013 Thmao.com All Rights Reserved<br/>
              蜀ICP备14001809号-1</div>
          </div>